In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame({'x': [1,2,3], 'y': [111,222,333], 'z': ['a', 'b', 'c']})

In [5]:
df.head()

   x    y  z
0  1  111  a
1  2  222  b
2  3  333  c

In [6]:
len(df.index)

3

In [8]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [10]:
df['x']

0    1
1    2
2    3
Name: x, dtype: int64

In [12]:
df.iloc[0]

x      1
y    111
z      a
Name: 0, dtype: object

In [14]:
df.to_csv('pandasChallenge.csv')

The use of dynamic and interactive data visualization techniques invites the "viewer" to dive into the data and examine it as they wish to.  It provides depth and additional channels to better immerse themselves into the information provided.